registry=https://pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/registry/:username=oceandatafoundation
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/registry/:_password=bGlkbXA2bm5pc3RudmpxeHg3M2I2aHhpcHJwbWM1bGxraGJ1NTQ2MzU2M3F2ZnZrajd4YQ==
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/:username=oceandatafoundation
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/:_password=bGlkbXA2bm5pc3RudmpxeHg3M2I2aHhpcHJwbWM1bGxraGJ1NTQ2MzU2M3F2ZnZrajd4YQ==
//pkgs.dev.azure.com/oceandatafoundation/ODP/_packaging/ODP/npm/:email=npm requires email to be set but doesn't use the value
; end auth token